<div>
    <h1>MobJobs</h1>
    <p>Cadastro Completo</p>

    <form action="/update-perfil-candidate" method="POST" enctype="multipart/form-data">

        <label for="text">Nome</label>
        <input type="text" name="name" placeholder="Nome" value="{{ name }}">

        <label for="text">Sobrenome</label>
        <input type="text" name="surname" placeholder="Sobrenome" value="{{surname}}">

        <label for="text">Celular</label>
        <input type="text" name="celPhone" placeholder="Ex.: (00) 00000-0000" maxlength="11" autocomplete="off"
            value="{{ celPhone }}">

        <label for="text">Imagem Perfil</label>
        <input type="file" name="imagePerfil" placeholder="Imagem Perfil" value="{{ imagePerfil }}">

        {{!-- <label for="text">Imagem Capa</label>
        <input type="file" name="images" placeholder="Imagem Capa" value="{{ imageCapa }}"> --}}

        <label for="text">Habilidades</label>
        <input type="text" name="skill" placeholder="Habilidades" value="{{ skill }}">

        <label for="text">Endereço</label>
        <input type="text" name="address" placeholder="Endereço" value="{{ address }}">

        <label for="text">Número</label>
        <input type="number" name="number" placeholder="Número" value="{{ number }}">

        <label for="text">Complemento</label>
        <input type="text" name="complement" placeholder="Complemento" value="{{ complement }}">

        <label for="text">Cidade</label>
        <input type="text" name="city" placeholder="Cidade" value="{{ city }}">

        <label for="text">Estado</label>
        <input type="text" name="state" placeholder="Estado" value="{{ state }}">

        <label for="text">Cep</label>
        <input type="text" name="zipCode" placeholder="Cep" value="{{ zipCode }}">

        <label for="text">Link</label>
        <input type="text" name="link1" placeholder="Linkedin" value="{{ link1 }}">

        <label for="text">Link</label>
        <input type="text" name="link2" placeholder="Link Intagram" value="{{ link2 }}">

        <label for="text">Link</label>
        <input type="text" name="link3" placeholder="Link Facebook" value="{{ link3 }}">

        <label for="text">Link</label>
        <input type="text" name="link4" placeholder="GitHub" value="{{ link4 }}">

        <button type="submit">Confirmar</button>
    </form>
    {{imagePerfil}}
</div>