<div>
  <img src={{imagePerfil}} alt={{name}}>
  <img src={{ image }} alt="Foto de capa">

    <h2>Informações Profissionais</h2>

    <ul>
      {{city}}
      {{state}}
      {{description}}
      {{skills}}
      {{linkdin}}
      {{linkInsta}}
      {{linkFace}}
      {{gitHub}}
    </ul>

  <button class="button-1" type="button"><a href="/editPefil">Editar!</a></button>
</div>