<div class="nav-bar">
  <a href="/home" class="logo">
    <img src="/images/logo.png" alt="MobJobs">
  </a>
  <div id="search-container" class="search-container">
    <input type="text" placeholder="Filtre aqui pessoas ou páginas" class="txtBoxSearch">
    <a href=""><img src="/images/search.svg" class="lnk-search"></a>
    <img src="/images/close.svg" id="lnk-close" class="lnk-close">
  </div>
  <ul class="icons-container">
    <li>
      <a href="" class="icon" id="search_icon_responsive">
        <img src="/images/search_white.svg" alt="Conferência" class="icons-container__icon">
        <span class="icons-container__text">Fazer conferência</span>
      </a>
    </li>
    <li>
      <a href="" class="icon">
        <img src="/images/conf.svg" alt="Conferência" class="icons-container__icon">
        <span class="icons-container__text">Fazer conferência</span>
      </a>
    </li>
    <li>
      <a href="" class="icon">
        <img src="/images/friendship.svg" alt="Solicitação de amizade" class="icons-container__icon">
        <span class="icons-container__text">Solicitação de amizades</span>
      </a>
    </li>
    <li>
      <a href="" class="icon">
        <img src="/images/message.svg" alt="Mensagem" class="icons-container__icon">
        <span class="icons-container__text">Solicitação de amizades</span>
      </a>
    </li>
    <li>
      <a href="" class="icon">
        <img src="/images/notification.svg" alt="Notificações" class="icons-container__icon">
        <span class="icons-container__text">Solicitação de amizades</span>
      </a>
    </li>
  </ul>
  <div class="profile-container">
    <img src={{perfil.imagePerfil}} class="photo-profile">
    <div class="container-profile_name_lnk">
      <p>{{perfil.name}}</p>

      <ul class="lnks-profile lnks-profile-new">
        <li><a href="/update-perfil-candidate/{{perfil._id}}" class="lnk-profile">Editar</a></li>
        <li><a href="/home" class="lnk-profile">Home</a></li>
        <li><a href="/" class="lnk-profile">Sair</a></li>
      </ul>
    </div>

  </div>
</div>
<div class="content-profile">
  <div class="imageCapa" style="background-image: url({{perfil.imageCapa}})">
    <img src="{{ perfil.imagePerfil }}" name="imagePerfil" alt="{{ perfil.name }}" class="imagePerfil">
    <p class="nameProfile">{{ perfil.name }} {{ perfil.surname }}</p>
  </div>
  <ul class="links-container">
    {{#if perfil.link1}}
    <li><a href={{ perfil.link1 }} target="_blank"><img src="/images/linkedin.svg" alt="" class="ico-lnks"></a></li>
    {{/if}}
    {{#if perfil.link2}}
    <li><a href={{ perfil.link2 }} target="_blank"><img src="/images/domain.svg" alt="" class="ico-lnks"></a></li>
    {{/if}}
    {{#if perfil.link3}}
    <li><a href={{ perfil.link3 }} target="_blank"><img src="/images/facebook.svg" alt="" class="ico-lnks"></a></li>
    {{/if}}
    {{#if perfil.link4}}
    <li><a href={{ perfil.link4 }} target="_blank"><img src="/images/github.svg" alt="" class="ico-lnks"></a></li>
    {{/if}}
  </ul>
  <form action="/update-perfil-candidate" method="POST" enctype="multipart/form-data" class="form-container">
    <div class="input-container">
      <label for="text">Nome</label>
      <input type="text" class="txtBox" name="name" placeholder="Nome" value="{{ name }}">
    </div>
    <div class="input-container">
      <label for="text">Sobrenome</label>
      <input type="text" class="txtBox" name="surname" placeholder="Sobrenome" value="{{surname}}">
    </div>
    <div class="input-container">
      <label for="text">Celular</label>
      <input type="text" class="txtBox" name="celPhone" placeholder="Ex.: (00) 00000-0000" maxlength="11" autocomplete="off"
        value="{{ celPhone }}">
    </div>
    <div class="input-container">
      <label for="text">Imagem Perfil</label>
      <input type="file" name="imagePerfil" placeholder="Imagem Perfil" value="{{ imagePerfil }}">
      {{!-- <img src="{{ imagePerfil }}" width="120px" /> --}}
    </div>
    <div class="input-container">
      <label for="text">Imagem Capa</label>
      <input type="file" name="imageCapa" placeholder="Imagem Capa" value="{{ imageCapa }}">
      {{!-- <img src="{{ imageCapa }}" width="120px" /> --}}
    </div>
    <div class="input-container">
      <label for="text">Habilidades</label>
      <input type="text" class="txtBox" name="skill" placeholder="Habilidades" value="{{ skill }}">
    </div>
    <div class="input-container">
      <label for="text">Endereço</label>
      <input type="text" class="txtBox" name="address" placeholder="Endereço" value="{{ address }}">
    </div>
    <div class="input-container">
      <label for="text">Número</label>
      <input type="number" class="txtBox" name="number" placeholder="Número" value="{{ number }}">
    </div>
    <div class="input-container">
      <label for="text">Complemento</label>
      <input type="text" class="txtBox" name="complement" placeholder="Complemento" value="{{ complement }}">
    </div>
    <div class="input-container">
      <label for="text">Cidade</label>
      <input type="text" class="txtBox" name="city" placeholder="Cidade" value="{{ city }}">
    </div>
    <div class="input-container">
      <label for="text">Estado</label>
      <input type="text" class="txtBox" name="state" placeholder="Estado" value="{{ state }}">
    </div>
    <div class="input-container">
      <label for="text">Cep</label>
      <input type="text" class="txtBox" name="zipCode" placeholder="Cep" value="{{ zipCode }}">
    </div>
    <div class="input-container">
      <label for="text">Link</label>
      <input type="text" class="txtBox" name="link1" placeholder="Linkedin" value="{{ link1 }}">
    </div>
    <div class="input-container">
      <label for="text">Link</label>
      <input type="text" class="txtBox" name="link2" placeholder="Link Intagram" value="{{ link2 }}">
    </div>
    <div class="input-container">
      <label for="text">Link</label>
      <input type="text" class="txtBox" name="link3" placeholder="Link Facebook" value="{{ link3 }}">
    </div>
    <div class="input-container">
      <label for="text">Link</label>
      <input type="text" class="txtBox" name="link4" placeholder="GitHub" value="{{ link4 }}">
    </div>

    <button type="submit" class="btn btnSubmit btn-profile">Confirmar</button>

  </form>
</div>