<div>
    <h1>MobJobs</h1>
    <p>Cadastro Completo</p>
    <h1>Company</h1>

    <form action="/update-perfil-company" method="POST" enctype="multipart/form-data">

        <label for="text">Nome</label>
        <input type="text" name="name" placeholder="Nome" value="{{ name }}">

        <label for="text">Telefone</label>
        <input type="text" name="phone" placeholder="Ex.: (00) 0000-0000" maxlength="10" autocomplete="off"
            value="{{ phone }}">

        <label for="text">Imagem Perfil</label>
        <input type="file" name="imagePerfil" placeholder="Imagem Perfil" value="{{ imagePerfil }}">

        {{!-- <label for="text">Imagem Capa</label>
        <input type="file" name="images" placeholder="Imagem Capa" value="{{ imageCapa }}"> --}}

        <label for="text">Habilidades</label>
        <input type="text" name="skill" placeholder="Habilidades" value="{{ skill }}">

        <label for="text">Endereço</label>
        <input type="text" name="address" placeholder="Endereço" value="{{ address }}">

        <label for="text">Número</label>
        <input type="number" name="number" placeholder="Número" value="{{ number }}">

        <label for="text">Complemento</label>
        <input type="text" name="complement" placeholder="Complemento" value="{{ complement }}">

        <label for="text">Cidade</label>
        <input type="text" name="city" placeholder="Cidade" value="{{ city }}">

        <label for="text">Estado</label>
        <input type="text" name="state" placeholder="Estado" value="{{ state }}">

        <label for="text">Cep</label>
        <input type="text" name="zipCode" placeholder="Cep" value="{{ zipCode }}">

        <label for="text">Site</label>
        <input type="text" name="site" placeholder="Site" value="{{ site }}">


        <button type="submit">Confirmar</button>
    </form>
</div>